
@{
    ViewBag.Title = "Opret Gruppe";
}

<h2>Opret Gruppe</h2>

<table border="1">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Til gruppe</td>
    </tr>
    @foreach (Grupperum_Website_Klient.GrumService.Student s in ViewBag.People)
    {
        <tr>
            <td>@s.Name.get()
            <td>s.Name</td>
            <td><input type="checkbox" value="1" /></td>
        </tr>
    }

</table>