@model Grupperum_Website_Klient.Models.Home.FinishModel
@{
    ViewBag.Title = "Finish";
}


@if (Model.RentedGroupRoom.Equals(true)) 
{
    <h2>Du har lånt grupperum: </h2> 
}

else
{
    <h2>Error</h2>
    <p><i>Enten har du allerede et grupperum i dette tidsrum, <br />
        eller en anden gruppe nåede at låne lokalet før jer.
        </i></p>
}