@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="background-image"></div>
    <div class="wrapper">
        <div class="content">
            <div id="form_wrapper" class="form_wrapper">
                <form class="register">
                    <h3>Registrer</h3>
                    <div class="column">
                        <div>
                            <label>Navn:</label>
                            <input type="text" placeholder="Navn" />
                            <span class="error">This is an error</span>
                        </div>
                        <div>
                            <label>CPR-nummer:</label>
                            <input type="password" placeholder="CPR-Nummer" />
                            <span class="error">This is an error</span>
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            <label>Studienummer:</label>
                            <input type="text" placeholder="Studienummer" />
                            <span class="error">This is an error</span>
                        </div>
                        <div>
                            <label>Adgangskode:</label>
                            <input type="password" placeholder="Adgangskode" />
                            <span class="error">This is an error</span>
                        </div>
                    </div>
                    <div class="bottom">
                        <input type="submit" value="Registrer" />
                        <a href="index.html" rel="login" class="linkform">Tilbage til Log in</a>
                        <div class="clear"></div>
                    </div>
                </form>
                <form class="login active">
                    <h3>Login</h3>
                    <div>
                        <input type="text" placeholder="Studienummer" />
                        <span class="error">This is an error</span>
                    </div>
                    <div>
                        <input type="password" placeholder="Adgangskode" />
                        <span class="error">This is an error</span>
                    </div>
                    <div class="bottom">
                        <div class="remember"><input type="checkbox" /><span>Husk mig</span></div>
                        <input type="submit" value="Login"/>
                        <a href="forgot_password.html" rel="forgot_password" class="forgot linkform">Glemt din adgangskode?</a>
                        <a href="register.html" rel="register" class="linkform">Registrer</a>
                        <div class="clear"></div>
                    </div>
                </form>
                <form class="forgot_password">
                    <h3>Glemt Adgangskode</h3>
                    <div>
                        <input type="text" placeholder="Studienummer" />
                        <span class="error">This is an error</span>
                    </div>
                    <div class="bottom">
                        <input type="submit" value="Send reminder"></input>
                        <a href="index.html" rel="login" class="linkform">Tilbage til Log in</a>
                        <a href="register.html" rel="register" class="linkform">Registrer</a>
                        <div class="clear"></div>
                    </div>
                </form>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>